version: "3"
services:
  redis:
    image: redis

  postgres:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: votesdb
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  worker:
    build: ./worker
    depends_on:
      postgres:
        condition: service_healthy

  result:
    build: ./result
    ports:
      - "8081:8081"
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    ports:
      - "8080:8080"
    depends_on:
      - redis
      - result

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    depends_on:
      - redis
      - postgres
